body {
    min-height: 100vh;
    background-color: rgb(56, 1, 39);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    gap: 25px;
}

.header-parent {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1.5rem;
    font-size: 3rem;
    font-style: italic;
    border-bottom: 2px solid wheat;
    display: flex;
    justify-content: space-between;
}

.add-button {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
    color: wheat;
    font-weight: bold;
    background-color: black;
    border-radius: 100px;
    border: 1px solid white;
}

.add-button:hover {
    border: 1px solid seagreen;
    transition: 0.2s;
}

.add-button:active{
    transform: translateY(4px);
    transition: 0.1s;
}

.input-parent {
    display: grid;
    place-items: center;
}

.input-form {
    width: 300px;
    height: 300px;
    display: flex;
    color: wheat;
    background-color: rgba(0,0,0,0.5);
    grid-template-columns: 50px 100px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    font-weight: bold;
    transform: scale(1.3) translateY(100px);
}

.input-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-button {
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.submit-button:hover {
    border: 1px solid yellow;
}

.submit-button:active {
    transform: translateY(2px);
    transition: 0.1s;
}

.input-child:first-of-type{
    align-self: flex-end;
    margin-right: 10px;
}

.close-button {
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.none {
    display: none;
    transition: 0.3s;
}

.library {
    display: grid;
    margin-left: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    place-content: center;
}

.book {
    background-color: rgba(0,0,0,0.5);
    width: 250px;
    height: 250px;
    display: grid;
    place-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid wheat;
    color: white;
    line-height: 30px;
    font-weight: bold;
    font-size: 1rem;
}
.close-button1 {
    width: 25px;
    height: 20px;
    cursor: pointer;
    justify-self: end;
}